<div class="form-group">
  <label>{{ label }}</label>
  <input
    class="form-control"
    type="text"
    placeholder="Your name"
    [formControl]="control"
    [ngClass]="{
      'alert alert-danger': control.dirty && control.touched && control.errors
    }"
  />
  <!-- Validation Errors -->
  <ng-container *ngIf="control.dirty && control.touched && control.errors">
    <small *ngIf="control.errors.required">Name is required</small>
    <small *ngIf="control.errors.minlength">
      Name must be at least
      {{ control.errors.minlength.requiredLength }} characters in length.
    </small>
    <small *ngIf="control.errors.maxlength">
      Name can be at most
      {{ control.errors.maxlength.requiredLength }} characters in length.
    </small>
    <small *ngIf="control.errors.pattern"> Invalid format </small>
  </ng-container>
</div>
