<h3>Handling Data & HTTP Requests</h3>
<a
  href="https://www.udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17577942#overview"
>
  Udemy Course
</a>
<search-bar (submitted)="onTerm($event)"></search-bar>
<page-list [posts]="posts"></page-list>
<hr />
<h3>Reactive Forms: components/checkout</h3>
<a
  href="udemy.com/course/the-modern-angular-bootcamp/learn/lecture/17579658#overview"
>
  Udemy Course
</a>
<checkout></checkout>
<hr />
<h3>Template Driven Forms: components/comments-form</h3>
<a href="https://www.youtube.com/watch?v=g2sCDQKG99o"> YouTube </a>
<comments-form></comments-form>
<hr />
<router-outlet></router-outlet>
