<form #commentForm="ngForm" (ngSubmit)="makeComment(commentForm)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      name="firstName"
      id="firstName"
      type="text"
      class="form-control"
      ngModel
      #firstName="ngModel"
      required
    />
    <small *ngIf="firstName.touched && !firstName.valid">
      Your name is required
    </small>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
      name="comment"
      ngModel
      required
    ></textarea>
  </div>
  <button class="btn btn-primary" [disabled]="!commentForm.valid">
    Submit
  </button>
</form>
